
.cell{
    border: 1px rgb(83, 83, 83) solid;
    height: 3vw;
    width: 3vw;
    display: inline-block;
    box-sizing:border-box;
    margin:0.1vw;
    vertical-align: middle;
}

.cellShip{
    background-color: rgba(128, 163, 169, 0.767);
}

.cellCrashed p{
    font-size: 2vw;
    font-weight: 600;
}

.board{
    margin-top: 2vh;
}
