
.cell{
    border: 1px rgb(83, 83, 83) solid;
    height: 3vw;
    width: 3vw;
    display: inline-block;
    box-sizing:border-box;
    margin:0.1vw;
    vertical-align: middle;
}

.cellShip{
    background-color: rgb(113, 157, 165);
}

.cellCrashed p{
    font-size: 2vw;
    font-weight: 600;
}

.board{
    margin-top: 2vh;
}
