
.cell{
    border: 1px rgb(83, 83, 83) solid;
    height: 3vw;
    width: 3vw;
    display: inline-block;
    box-sizing:border-box;
    margin:0.1vw;
}

.cellShip{
    background-color: rgb(86, 166, 180);
}

.cellCrashed{
    background-color: rgb(241, 208, 208);
}

.cellCrashed p{
    font-size: 2vw;
    font-weight: 600;
}

.board{
    margin-top: 2vh;
}
