
.boardsWrapper{
    display: grid;
    grid-template-rows: 1fr;
    grid-template-columns: 1fr, 1fr;
    grid-template-areas: '. .';
    width: 80%;
    margin: 5vh auto 0;
}

.boardCell{
    text-align: center;
}

.buttonsDiv{
    margin-top: 2vh;
    text-align: center;
}

.buttonsDiv button{
    padding: 0.5vw;
    font-size: 1.2vw;
    background-color:rgb(110, 168, 189);
    border-radius: 5px;
    color: white;
    border-color: transparent;
    cursor: pointer;
    margin: 0 0.5vw;
}