
.boardsWrapper{
    display: grid;
    grid-template-rows: 1fr;
    grid-template-columns: 1fr, 1fr;
    grid-template-areas: '. .';
    width: 80%;
    margin: 5vh auto 0;
}

.boardCell{
    text-align: center;
}

.buttonsDiv{
    margin-top: 2vh;
    text-align: center;
}

.buttonsDiv button, .bottomControls button{
    padding: 0.5vw;
    font-size: 1.2vw;
    background-color:rgb(110, 168, 189);
    border-radius: 5px;
    color: white;
    border-color: transparent;
    cursor: pointer;
    margin: 0 0.5vw;
}

.bottomControls{
    width: 80%;
    margin: 4vh auto 0;
    text-align: right;
}

.instructionsDiv{
    width: 60%;
    margin: auto;
    margin-top: 2vh;
    padding: 1vw;
    border: solid 1px lightblue;
    border-radius: 5px;
}

.placeShipsBoardCell{
    text-align: center;
    margin-top: 2vh;
}

.placeShipsPageWrapper{
    display: grid;
    grid-template-rows: 1fr;
    grid-template-columns: 1fr, 1fr, 1fr;
    grid-template-areas: '. . .';
    width: 80%;
    margin: 5vh auto 0;
}

.nowPlacingDiv{
    font-size: 1.4vw;
    margin-bottom: 2vh;
}

.placeShipsButton{
    padding: 0.5vw;
    font-size: 1.2vw;
    background-color:rgb(110, 168, 189);
    border-radius: 5px;
    color: white;
    border-color: transparent;
    cursor: pointer;
    margin: 3vh 0.5vw 0;
}

.winnerDiv{
    position: absolute;
    width: 40%;
    left:30%;
    top:30%;
    background-color: white;
    border: rgb(110, 168, 189) solid 3px;
    border-radius: 5px;
    padding: 3vw; 
    text-align: center;
}

.winnerDiv button{
    padding: 0.5vw;
    font-size: 1.2vw;
    background-color:rgb(110, 168, 189);
    border-radius: 5px;
    color: white;
    border-color: transparent;
    cursor: pointer;
    margin: 3vh 0.5vw 0;
}

.shadowCover{
    background-color: black;
    opacity: 0.4;
    width: 100%;
    height: 100%;
}

.winnerBannerWrapper{
    position: absolute;
    top:0;
    left:0;
    width: 100%;
    height: 100%;
}